* {
    font-family: sans-serif;
    color: #B86A47;
}

html {
    background-image: url('https://i.ytimg.com/vi/4l6J5jhRgos/maxresdefault.jpg');
    background-size: cover;
    font-weight: bold;
}

.itemSelection {
    display: flex;
    align-items: center;
    margin: 10px;
}

.items {
    margin: 20px;
}


.answer1 {
    border: 5px solid green;
    padding-left: 10px;
    margin: 10px;
}